<div class="products">

  <div class="container">
    <div class="slider-warp">
      <div class="slider-main">
        <div class="item">
          <div class="text">
            <div class="card">
              <img src="/assets/images/1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Priyanka </h5>
                <p class="card-text">25 Yrs,5 ft 2in,telgu,Nair,MBBS,Doctor,Chennai</p>
              </div>
              <div class="card-body">
                <button href="#" class="card-link-yes" data-toggle="modal" data-target="#exampleModal">Yes</button>
                <button href="#" class="card-link-no">No</button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Profile Info</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="card">
                        <img src="/assets/images/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <a href="#" class="card-link"><i class="fa fa-check"
                              style="border: 1px solid gray;padding:3px;"></i>Verified</a>&nbsp;&nbsp;
                          <a href="#" class="card-link"><i class='fa fa-chess-queen'
                              style="border: 1px solid gray;padding:3px;"></i>Premium NRI</a>
                          <h5 class="card-title">Priyanka </h5>
                          <p class="card-text">25 Yrs,5 ft 2in,telgu,Nair,MBBS,Doctor <br>Hindu - Kayastha,Chennai,Tamil
                            Nadu</p>

                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a type="button" class="" style="margin-right: 46%;"> <i class="fa fa-star"></i>Shortlist</a>
                      <p class="card-text">Like Her?<button type="button" class="btn btn-default" (click)="no()"
                          style="border: 1px solid gray;border-radius:13px;margin-left: 2px;"><i
                            class="fa fa-close"></i></button></p>

                      <button type="button" class="btn btn-warning" style="border-radius: 17px;" (click)="yes()"> <i
                          class="fa fa-check"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="text">
            <div class="card">
              <img src="/assets/images/2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Priyanka </h5>
                <p class="card-text">25 Yrs,5 ft 2in,telgu,Nair,MBBS,Doctor,Chennai</p>
              </div>
              <div class="card-body">
                <button href="#" class="card-link-yes" data-toggle="modal" data-target="#exampleModal1">Yes</button>
                <button href="#" class="card-link-no">No</button>
              </div>
              <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Profile Info</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="card">
                        <img src="/assets/images/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <a href="#" class="card-link"><i class="fa fa-check"
                              style="border: 1px solid gray;padding:3px;"></i>Verified</a>&nbsp;&nbsp;
                          <a href="#" class="card-link"><i class='fa fa-chess-queen'
                              style="border: 1px solid gray;padding:3px;"></i>Premium NRI</a>
                          <h5 class="card-title">Priyanka </h5>
                          <p class="card-text">25 Yrs,5 ft 2in,telgu,Nair,MBBS,Doctor <br>Hindu - Kayastha,Chennai,Tamil
                            Nadu</p>

                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a type="button" class="" style="margin-right: 46%;"> <i class="fa fa-star"></i>Shortlist</a>
                      <p class="card-text">Like Her?<button type="button" class="btn btn-default" (click)="no()"
                          style="border: 1px solid gray;border-radius:13px;margin-left: 2px;"><i
                            class="fa fa-close"></i></button></p>

                      <button type="button" class="btn btn-warning" style="border-radius: 17px;" (click)="yes()"> <i
                          class="fa fa-check"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="text">
            <div class="card">
              <img src="/assets/images/3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Priyanka </h5>
                <p class="card-text">25 Yrs,5 ft 2in,telgu,Nair,MBBS,Doctor,Chennai</p>
              </div>
              <div class="card-body">
                <button href="#" class="card-link-yes" data-toggle="modal" data-target="#exampleModal2">Yes</button>
                <button href="#" class="card-link-no">No</button>
              </div>
              <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Profile Info</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="card">
                        <img src="/assets/images/3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <a href="#" class="card-link"><i class="fa fa-check"
                              style="border: 1px solid gray;padding:3px;"></i>Verified</a>&nbsp;&nbsp;
                          <a href="#" class="card-link"><i class='fa fa-chess-queen'
                              style="border: 1px solid gray;padding:3px;"></i>Premium NRI</a>
                          <h5 class="card-title">Priyanka </h5>
                          <p class="card-text">25 Yrs,5 ft 2in,telgu,Nair,MBBS,Doctor <br>Hindu - Kayastha,Chennai,Tamil
                            Nadu</p>

                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a type="button" class="" style="margin-right: 46%;"> <i class="fa fa-star"></i>Shortlist</a>
                      <p class="card-text">Like Her?<button type="button" class="btn btn-default" (click)="no()"
                          style="border: 1px solid gray;border-radius:13px;margin-left: 2px;"><i
                            class="fa fa-close"></i></button></p>

                      <button type="button" class="btn btn-warning" style="border-radius: 17px;" (click)="yes()"> <i
                          class="fa fa-check"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="text">
            <div class="card">
              <img src="/assets/images/4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Priyanka </h5>
                <p class="card-text">25 Yrs,5 ft 2in,telgu,Nair,MBBS,Doctor,Chennai</p>
              </div>
              <div class="card-body">
                <button href="#" class="card-link-yes" data-toggle="modal" data-target="#exampleModal3">Yes</button>
                <button href="#" class="card-link-no">No</button>
              </div>
              <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Profile Info</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="card">
                        <img src="/assets/images/4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <a href="#" class="card-link"><i class="fa fa-check"
                              style="border: 1px solid gray;padding:3px;"></i>Verified</a>&nbsp;&nbsp;
                          <a href="#" class="card-link"><i class='fa fa-chess-queen'
                              style="border: 1px solid gray;padding:3px;"></i>Premium NRI</a>
                          <h5 class="card-title">Priyanka </h5>
                          <p class="card-text">25 Yrs,5 ft 2in,telgu,Nair,MBBS,Doctor <br>Hindu - Kayastha,Chennai,Tamil
                            Nadu</p>

                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a type="button" class="" style="margin-right: 46%;"> <i class="fa fa-star"></i>Shortlist</a>
                      <p class="card-text">Like Her?<button type="button" class="btn btn-default" (click)="no()"
                          style="border: 1px solid gray;border-radius:13px;margin-left: 2px;"><i
                            class="fa fa-close"></i></button></p>

                      <button type="button" class="btn btn-warning" style="border-radius: 17px;" (click)="yes()"> <i
                          class="fa fa-check"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="text">
            <div class="card">
              <img src="/assets/images/5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Priyanka </h5>
                <p class="card-text">25 Yrs,5 ft 2in,telgu,Nair,MBBS,Doctor,Chennai</p>
              </div>
              <div class="card-body">
                <button href="#" class="card-link-yes" data-toggle="modal" data-target="#exampleModal4">Yes</button>
                <button href="#" class="card-link-no">No</button>
              </div>
              <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Profile Info</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="card">
                        <img src="/assets/images/5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <a href="#" class="card-link"><i class="fa fa-check"
                              style="border: 1px solid gray;padding:3px;"></i>Verified</a>&nbsp;&nbsp;
                          <a href="#" class="card-link"><i class='fa fa-chess-queen'
                              style="border: 1px solid gray;padding:3px;"></i>Premium NRI</a>
                          <h5 class="card-title">Priyanka </h5>
                          <p class="card-text">25 Yrs,5 ft 2in,telgu,Nair,MBBS,Doctor <br>Hindu - Kayastha,Chennai,Tamil
                            Nadu</p>

                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a type="button" class="" style="margin-right: 46%;"> <i class="fa fa-star"></i>Shortlist</a>
                      <p class="card-text">Like Her?<button type="button" class="btn btn-default" (click)="no()"
                          style="border: 1px solid gray;border-radius:13px;margin-left: 2px;"><i
                            class="fa fa-close"></i></button></p>

                      <button type="button" class="btn btn-warning" style="border-radius: 17px;" (click)="yes()"> <i
                          class="fa fa-check"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-area">
        <button type="button" class="prev" appPrev><i class="fa fa-chevron-left"></i></button>
        <button type="button" class="next" appNext><i class="fa fa-chevron-right"></i></button>
      </div>
    </div>

  </div>
</div>